page-modalrate {
    .modalTitle{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 25px;
        font-family: 'gotham-medium';
    };
    .modalImage{
        height: 258px;
        width:178px;
    
    };
    .modalQnt{
        font-family: 'gotham-book';
        font-size: 20px;
    
    };
.stars{
  margin-top:15px;
}
    
    .modalButton{                               //button style
        height:47px;
        width:70%;
        font-family:'gotham-medium' ;
        
        color:map-get($colors ,afont1 );
        background-color:#e91c1a;
        font-size: 26px;
        border-radius: 10px;
        margin-top: 30px;
        // margin-left: 5%;
    }
    .filled-star{                   //star rating styles
        padding:5px; 
        font-size: 40px;
       color: #ffba00; 
    }
    .starr{
        padding:5px;                //unfilled star styling

        font-size: 40px;
        color:#7f7f7f;
    }
    .icon{
        position: absolute;//for positioning drop icon
        right: 5px;
        color:map-get($colors , afont1 );
    }

}
