page-neostore {
.navbar{
    background-color: map-get($colors , red1 );
    
    
};
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    text-align: center;
    
  };
//     .title{
    
    
//     font-family: 'gotham-medium';
//     font-size: 30px;
//     font-weight:500;
//         color: white;
//         // background-color: red;
//         position: absolute;
       
// };
.content{
    height: 100%;
};
.sliders{
    margin-top: 0px;
     padding-top: 20px;
   
     margin-bottom: 0px;
     padding-bottom: 0px;
     
}

.grid-full{
    margin-top: 5%;
    height: 100%;
    width:100%;
    overflow: hidden;
}

.tile1{
    background-color:map-get($colors , red1) !important;
    height: calc(100%);
    width:100%;
};
.tile2{
    background-color:map-get($colors , red1) !important;
    height: 100%;
    width:100%;
};
.tile3{
    background-color:map-get($colors , red1) !important;
    height: 100%;
    width:100%;
};
.tile4{
    background-color:map-get($colors , red1) !important;
    height: 100%;
    width:100%;
};


.a{
font-family:'Gotham-Medium' ;
    font-size: 30px;
    color:white;

};
.button12{
    width: 100%;
    height:100%;
};
.swiper-pagination-bullet-active {
    background: map-get($colors , primary );
    opacity: 1;
};


};      