page-neostore {
.navbar{
    background-color: map-get($colors , primary );
    
}
    .title{
    text-align: center;
    font-family: 'gotham';
    font-size: 12px;
    font-weight:500;
        
        background-color: red;
};
.content{
    height: 100%;
};
.sliders{
     
     height: 50%;
}

.grid-full{
    height: 100%;
    width:100%;
}

.tile1{
    background-color:map-get($colors , primary) !important;
    height: calc(100%);
    width:100%;
};
.tile2{
    background-color:map-get($colors , primary) !important;
    height: 100%;
    width:100%;
};
.tile3{
    background-color:map-get($colors , primary) !important;
    height: 100%;
    width:100%;
};
.tile4{
    background-color:map-get($colors , primary) !important;
    height: 100%;
    width:100%;
};


.a{
font-family:'gotham-medium' ;
    font-size: 24px;
    color:white;

};
.button12{
    width: 100%;
    height:100%;
}
};