// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//menu color change
.menuColor{
    background-color: map-get($colors , font6 )!important;
    color: black !important;
}
.icons{
    padding-right: 20px;
}
.content{
   
    margin-bottom: 0px;
};

.slideout{
    // background-color: black;
    color: map-get($colors , font6 );
    

}
.slideout.list{
    color:map-get($colors , font6 );
    
}
.slideout .list .item{
    background-color: map-get($colors , font6 );
    color: white;
    font-family: 'Gotham-Medium';
    font-size: 16px;
    font-weight: 500;
};
.head{ 
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: map-get($colors , afont1 ) !important ;


};
.avatar {
    margin-top: 65px;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%!important;
    border-color: map-get($colors , afont1)!important ;
    border:solid 2px;
// margin-left: 40%
};
.name{
font-size: 16px;
    font-weight: 500;
color:map-get($colors , afont1 )
};
.email{

font-size: 12px;
font-weight: 500;
color:map-get($colors , afont1 )
};
.my-modal {
   height: 100%; 
   width:100%;
   background-color: transparent;
  };
  .inupt-wrapper {
    // padding-right: 8px;
    border-bottom: 1px solid black !important;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid map-get($colors , font10 );
}
.cart_items{
    bottom: 20%;
    text-align: center;
    display: block;
    position: absolute;
    right: 5px;
    border-radius: 50%;
    background-color:red;
height: 25px;
width: 25px;
line-height: 25px;
}
.back-button-md {
    margin: 0 6px;
    min-width: 44px;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 100000;
    }
    .list-ios .item-block .item-inner {
border-bottom: 1px solid black;
    };
    .ios ion-list > .item:last-child, 
    .ios ion-list > .item-wrapper:last-child .item {
        border-bottom: none;
    }
    button.item-ios:not([detail-none]) .item-inner{
        background-image: none !important;
    }
// $list-md-border-color:#7f7f7f;
// .content-md {
 
//     background-color:map-get($colors , font6 );
// }