page-product-details {


ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    
  };
.detail-title{
    margin-top: 0px;
    font-family: 'gotham-bold';
    font-size:20px ;
    font-weight: 900;

    color:map-get($colors ,dark );
    margin-bottom: 0px;
};
.category{
    
    margin-bottom:0px;
    font-weight: 200;
    font-family: 'gotham-book';
    font-size:16px ;
    color:map-get($colors ,font11 );
    margin-top:0px;
};
.vendors{
    margin-top: 2px;
    margin-bottom: 0px;
    font-family: 'gotham-book';
    font-size:10px ;
    color:map-get($colors ,font11 );
};
.price{
    font-family: "gotham-medium";
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    float: leftl;
    color: map-get($colors ,red3 )
};
.description{
    margin-top: 5px;
    font-family: 'gotham-book';
    font-size:12px ;
    font-weight: 200;

    color:map-get($colors ,font11 );
  
    
};
.star{
    // fill:#fec300; 
     color:#fec300;
    font-size: 15px;
    position: absolute;
    right: 10px;
    float: right;
    // padding-bottom:px;
    // padding-top: 5px;
};
.buy{
    
background-color:map-get($colors , red3 );
color:map-get($colors ,afont1 );
font-size: 20px;
border: 2px solid map-get($colors , red3 );
border-radius: 5px;
height:100%;
width: 100%;
padding-top: 8px;
padding-bottom: 8px;
};
.rate{
    color: map-get($colors , font11 );
    background-color:map-get($colors , font3 );
    height:100%;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid map-get($colors , font4 );
   border-radius: 5px;
    // color:map-get($colors , primary );
// background-color:map-get($colors ,afont1 );
font-size: 20px;
};
.button{
    border: 0px;
    border-color: white
};
.buy:hover{background-color: map-get($colors , red2 )
    
};
.share{
    position: relative;
    float: right;
    margin-top:5px;
    // right: 20px !important;
    color: map-get($colors , font4 );
background-color: transparent;
font-size:20px;


    
};
.contentimgs{
    margin-left: 10px;
    
  };
    .ion-scroll {
        white-space: nowrap;
        height: 250px;
    };
    .wide-as-needed{
        overflow: hidden;
        white-space: nowrap;
        
    };
    .input-wrapper{
        height: 80px;
    }
    ion-scroll[scrollX] {
        width: 100%;
        white-space: nowrap;
        height: 110px;
        overflow: hidden;
     
        .scroll-item {
          display: inline-block;
          width: 100px !important;
          height: 75px !important;
          padding: 1px;
          margin-left:10px;
          border:1px solid map-get($colors , font5 );
          border-radius:5px;
            
        }
    
        .selectable-icon{
          margin: 10px 20px 10px 20px;
          color: red;
          font-size: 100px;
        }
    
        .ion-avatar img{
          margin: 10px;
        }
      }
    
      .ion-scroll[scroll-avatar]{
        height: 60px;
      }
    
      /* Hide ion-content scrollbar */
      ::-webkit-scrollbar{
        display:none;
      };
      .item-md {
          padding-left: 0px;
          
      };
    
}
