page-product-details {

.detail-title{
    margin-top: 5px;
    font-family: 'gotham-bold';
    font-size:20px ;
    font-weight: 900;

    color:map-get($colors ,dark );
    margin-bottom: 0px;
};
.category{
    
    margin-bottom:0px;
    font-weight: 200;
    font-family: 'gotham-book';
    font-size:18px ;
    color:map-get($colors ,font11 );
};
.vendors{
    margin-top: 2px;
    margin-bottom: 0px;
    font-family: 'gotham-book';
    font-size:10px ;
    color:map-get($colors ,font11 );
};
.price{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
    color: map-get($colors ,primary )
};
.description{
    margin-top: 5px;
    font-family: 'gotham-medium';
    font-size:16px ;
    font-weight: 200;

    color:map-get($colors ,font11 );
    margin-bottom: 0px;
    
};
.star{
    // fill:#fec300; 
     color:#fec300;
    
    position: absolute;
    right: 10px;
    float: right;
    padding-top: 5px;
};
.buy{
    position: relative;
    bottom: 0px;
background-color:map-get($colors , primary );
color:map-get($colors ,afont1 );
font-size: 20px;
border: 2px solid map-get($colors , primary );
border-radius: 5px;
height:40px;
width: 100%;
};
.rate{
    color: map-get($colors , font11 );
    background-color:map-get($colors , font3 );
    height:100% ;
    width: 100%;
    border: 1px solid map-get($colors , font4 );
   border-radius: 5px;
    // color:map-get($colors , primary );
// background-color:map-get($colors ,afont1 );
font-size: 20px;
}

}
