page-my-orders {
.product-id{
    font-family: "gotham-book";
    padding-top:20px;
    font-size:20px;
    color: #1c1c1c;
    padding-bottom:10px; 

};
.cost{
    position: absolute;
    right:0px;
    font-family: "gotham-book";
   
    font-size:20px;
    color: #1c1c1c;
};
.date{
    font-family: "gotham-book";
    padding-top:20px;
    font-size:12px;
    color: #4F4F4F;
}
}
