<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <script src="node_module/ionic1-star-rating/dist/index.js"></script> -->
<ion-header>

    <ion-toolbar>
        <ion-buttons left>
            <button ion-button navPop icon-only>
                <ion-icon class="icon-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Products</ion-title>
        <ion-buttons right>
            <button ion-button navPop icon-only>
                <ion-icon class="icon-search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="home">
    <ion-list>

        <button ion-item *ngFor="let ab of abcd" (click)=fun(ab.id)>

            <!-- <ion-avatar class="a1" item-left> -->
            <img item-left class="img" src={{ab.product_images}}>

            <!-- </ion-avatar> -->
            <h2 class="product-title">{{ab.name}}</h2>

            <p class="product-subtitle">{{ab.producer}}</p>
            <!-- <rating [(ngModel)]="abcd.rating" [max]="5" iconClass="fa-star" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="false"
                    [required]="true" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']">
                </rating> -->
            <ion-row>
                <h5 ion-row class="product-price">RS.{{ab.cost}}
                    <!-- <star-rating-comp rating="3"></star-rating-comp> -->

                    <!-- <span id=stars></span> -->
                </h5>
                <p style="position: absolute;right: 10px;float: right;padding-top: 5px;  ">
                    <ion-icon *ngFor="let n of [1, 2, 3, 4, 5]; let i = index" [class]="i < ab.rating ? 'icon-star filled-star' : 'icon-star star'"></ion-icon>
            </ion-row>


        </button>

    </ion-list>
    <ion-infinite-scroll position="top" (ionInfinite)="doInfinite($event)">

        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>