page-products {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        text-align: center;
        
      };
    .product-title{
        font-family:'gotham-medium';
        font-size:15px ;
        color: map-get($colors , dark )

    };
    .product-subtitle{

        font-family:'gotham-book';
        margin-top:8px;
        font-size:10px ;
        color: map-get($colors , dark )
    };

    .product-price{
        margin-top: 8px;
        font-family:'gotham-medium';
        font-size:20px;
        color:#fe4040;
        
    };

    .img{
        width: 60px;
        height: 60px;
    };

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        width: 8em;
    }
    
    
    .rating label {
        display: inline-block;
        font-size: 0;
    };

    .list-md .item-block .item-inner {
        border-bottom: none;
    }
    .item-md{
        border-bottom: 1px solid map-get($colors ,font5 );
    }

}
