<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<script src="node_module/ionic1-star-rating/dist/index.js"></script>
<ion-header>

    <ion-navbar>
        <ion-title>
            <span id="title"> </span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="home">
    <ion-list>

        <button ion-item *ngFor="let ab of abcd" (click)=fun(ab.id)>

            <!-- <ion-avatar class="a1" item-left> -->
            <img item-left class="img" src={{ab.product_images}}>
            <!-- </ion-avatar> -->
            <h2 class="product-title">{{ab.name}}</h2>
            <p class="product-subtitle">{{ab.producer}}</p>

            <h5 ion-row class="product-price">RS.{{ab.cost}}
                <!-- <star-rating-comp rating="3"></star-rating-comp> -->
                <p style="position: absolute;right: 10px;float: right;padding-top: 5px;">
                    <ion-icon *ngFor="let n of [1, 2, 3, 4, 5]; let i = index" [name]="i < ab.rating ? 'star' : 'star-outline'"></ion-icon>
                    <!-- <span id=stars></span> -->
            </h5>

            <!-- <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> -->

        </button>

    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<!-- <ion-list>
        <ion-item>
            <ion-grid>
                <div class="col col-20">
                    <ion-avatar>
                        <img src="assets/imgs/slide-1.jpg">
                    </ion-avatar>
                </div>
                <div class="col">
                    <ion-row>
                        <ion-label class="product-title">product-title</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label class="product-subtitle">product-subtitle</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label class="price">1000$</ion-label>
                    </ion-row>
                </div>
            </ion-grid>
        </ion-item>

    </ion-list> -->