page-products {
    .product-title{
        font-family:'gotham-medium';
        font-size:15px ;
        color: map-get($colors , dark )

    };
    .product-subtitle{

        font-family:'gotham-book';
        margin-top:8px;
        font-size:10px ;
        color: map-get($colors , dark )
    };

    .product-price{
        margin-top: 8px;
        font-family:'gotham-medium';
        font-size:20px;
        color:#fe4040;
        
    };

    .img{
        width: 44px;
        height: 44px;
    };

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        width: 8em;
    }
    
    
    .rating label {
        display: inline-block;
        font-size: 0;
    };

    
    
    
}
