page-mycart {
    .product-title{
        font-family:'gotham-medium';
        font-size:15px ;
        color: map-get($colors , dark )

    };
    .product-subtitle{

        font-family:'gotham-book';
        margin-top:8px;
        font-size:10px ;
        color: map-get($colors , dark )
    };

    .product-price{
        margin-top: 8px;
        font-family:'gotham-medium';
        font-size:20px;
        color:#fe4040;
        
    };
    .img{
        width: 44px;
        height: 44px;
    };
}
