<!--
  Generated template for the MycartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>mycart</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-sliding #item *ngFor="let ab of abcd">
            <ion-item style="height: 100px;">

                <!-- <ion-avatar class="a1" item-left> -->
                <img item-left class="img" src={{ab.product.product_images}}>

                <!-- </ion-avatar> -->
                <h2 class="product-title">{{ab.product.name}}</h2>
                <p class="product-subtitle">({{ab.product.product_category}})</p>
                <!-- <rating [(ngModel)]="abcd.rating" [max]="5" iconClass="fa-star" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="false"
                            [required]="true" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']">
                        </rating> -->

                <!-- <ion-label stacked>{{ab.quantity}}</ion-label>
            <ion-select interface="popover">
                <ion-option value="10">10</ion-option>
                <ion-option value="20">20</ion-option>
            </ion-select> -->
                <!-- 
                <ion-label>
                    <ion-label>Gender</ion-label>
                    <ion-select interface="" [(ngModel)]="gender">
                        <ion-option value="f">Female</ion-option>
                        <ion-option value="m">Male</ion-option>
                    </ion-select> -->

                <label ion-row>
                    <!-- <div>
                        {{ab.quantity}}
                    </div> -->
                    <!-- <select [(ngModel)]="itemss" (ionChange)="changed($event)" class="itemno">
                        <option selected value="ab.quantity" disabled>{{ab.quantity}}
                            <ion-icon name="arrow-down"></ion-icon>
                        </option>

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select> -->

                    <ion-item class="dropdown">
                        <ion-select [(ngModel)]="ab.quantity" (ionChange)="onSelectChange($event,ab.product_id)">
                            <ion-option *ngFor="let number of [1,2,3,4,5,6,7,8]" [value]="number">{{number}}</ion-option>

                        </ion-select>
                    </ion-item>
                    <!-- <ion-item>
                    <ion-label class="itemno">{{ab.quantity}}</ion-label>
                    <ion-select [(ngModel)]="itemss" (ionChange)="changed(ab.product_id)">
                        <ion-option *ngFor="let number of [1,2,3,4,5,6,7,8]" [value]="number">{{number}}</ion-option>
                    </ion-select>
</ion-item> -->
                    <div class="product-price">
                        <i class="fa fa-rupee"></i>{{ab.product.cost}}</div>
                </label>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button class="deletebutton" (click)="delete(ab.product_id)">
                    <i style="color: white;border-radius: 50%" class="fa fa-trash" aria-hidden="true"></i>
                    <!-- <ion-icon style="padding-right: 20px;height:20px;color: white" class="icons" name="person"></ion-icon> -->
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item>
            <ion-row>
                <div class="total">TOTAL</div>
                <div class="price">
                    <i class="fa fa-rupee"></i>{{total}}
                </div>
            </ion-row>
        </ion-item>
        <button ion-button (click)="orderNow()" class="button1" full>ORDER NOW
        </button>
    </ion-list>

</ion-content>