page-mycart {
    //for centered page title
    .toolbar-title-md{              
        text-align: center;
    }
      
    //for product name styling
    .product-title{
        font-family:'gotham-book';
        font-size:23px ;
        margin-top: 0px;
        color: #131313;

    };
    //for product subtitle styling

    .product-subtitle{

        font-family:'gotham-book';
        margin-top:8px;
        font-size:15px ;
        color: map-get($colors , dark )
    };
    //for product price styling

    .product-price{
        font-family:'gotham-book';
        font-size:15px;
        color:#333333;
        position:absolute;
        right:0px ;
        padding-top:15px
        
    };
    //for product img in left styling

    .img{
        margin: 10px 10px 10px 10px !important;
        width: 77px;
        height: 77px;
    };
    //for product list styling
    
    // .iteml{height: 90px;};
//for slide button styling
    .deletebutton{
        // height: 50px;
        // margin-top: 33px;
        border-radius: 50%;};
    
        .itemno{
            border: 1px solid #333333;
            border-radius: 5px;
        };
        .list-md ion-item-options .button {
            height: 55px;
            width: 55px;
        margin-top: 10%;
        border-radius: 50%;
        };
        .total{
            flex: 1;
            font-family:'gotham-medium';
            font-size:15px;
            color: #333333;
            width: 100px;

        };
        .price{position: absolute;
            float:right;
            right: 0px;
            font-family:'gotham-medium';
            font-size:15px;
            color: #333333;
        };
        //order button styling
        .button1{
            font-family:'gotham-medium' ;
            
            color:map-get($colors ,afont1 );
            background-color:#db1514;
            font-size: 25px;
            border-radius: 10px;


            width:100%;
            height:50px ;
            
        };
        .button1:hover{
            background-color: map-get($colors , primary );
            color: map-get($colors, afont1 );
        };
        //select ddropdown css
        .dropdown{
         border-radius:5px;
            border: 1px solid map-get($colors ,font5 );
// height: 10px;
            width: 50px;
             margin-bottom: 0px;
             margin-left: 0px !important;
             padding-left:0px;
        }
        
        //overwritting the borders
        .list-md .item-block .item-inner {
            border-bottom: none;
        }
        .item-md{
            border-bottom: 2px solid map-get($colors ,font5 );
            padding-left:0px;
        }
        .select-md {
            padding: 2px 8px 2px 12px !important;
        }
        .item-cover{
            width:60%;
        }
}
